.header {
  border-bottom: 1px solid var(--color-gray);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 58px;
  /* TODO: responsive */
  flex-wrap: wrap;
  padding: 0 38px;
}

header .logo {
  margin-bottom: -2px;
}

header:nth-child(2) {
  flex: 1;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 59px;
  /* TODO: responsive */
  flex-wrap: wrap;
  min-height: 90px;
}

nav a {
  opacity: 0.2;
}
