.header {
  border-bottom: 1px solid var(--color-gray);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 58px;
  flex-wrap: wrap;
  padding: 30px 38px;
}

header .logo {
  margin-bottom: -2px;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 59px;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  header {
    padding: 30px 20px;
  }
  nav {
    flex: none;
    order: 3;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
    margin-top: 16px;
    padding: 16px 16px 0 0;
    transition: all 0.5s;
  }
  nav.invisible {
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

nav a {
  color: var(--color-black-20);
}

nav a:hover {
  color: var(--color-black);
}
